// ----------------------------------------------
//                Variables
// ----------------------------------------------

// --------------- Colors ----------------- //

//-- Theme colors
$pcolor:                       #bd1823; // primary
$scolor:                       #585856; // secondary
$tcolor:                       #9d9c9b; // tertiary
$quatcolor:                    #f6f6f6; // quaternary
$quincolor:                    #fff; // quinary
$sencolor:                     #000; // senary
$sepcolor:                     #000; // septenary
$octcolor:                     #000; // octonary
$noncolor:                     #000; // nonary
$dencolor:                     #000; // denary


//-- Grayscale colors
$white:                        #fff;
$dark-gray:                    #5f5f5f;
$gray:                         #979797;
$light-gray:                   #d8d8d8;
$dark:                         #000;


// --------------- Fonts ----------------- //

$font-size-base:               16px; // Mobile
$font-size-base-l:             18px; // Desktop

@function em($pixels, $context: $font-size-base-l) {
  @return #{$pixels/$context}em;
}

//--  Font family
$font-family-sans:             sans-serif;
$font-family-serif:            serif;

$font-family-base:             $font-family-sans;
$font-family-headings:         $font-family-sans;

//--  Font size
$font-size-h1:                 em($font-size-base-l + 10);
$font-size-h2:                 em($font-size-base-l + 8);
$font-size-h3:                 em($font-size-base-l + 6);
$font-size-h4:                 em($font-size-base-l + 4);
$font-size-h5:                 em($font-size-base-l + 2);
$font-size-h6:                 em($font-size-base-l);

$font-size-large:              em($font-size-base-l + 2);


// --------------- Grid ----------------- //

//-- Responsive Breakpoints - Mobile first
$breakpoint-s:                 501px !default;
$breakpoint-m:                 768px !default;
$breakpoint-l:                 1025px !default;
$breakpoint-xl:                1280px !default;

//-- Grid Containers
$container:                    100% !default;
$container-max-width:          1400px !default;

//-- Grid columns
$columns:                      12;
$columns-s:                    $columns;
$columns-m:                    $columns;
$columns-l:                    $columns;
$columns-xl:                   $columns;

//-- Grid Gutters
$grid-gutter:                  20px !default;
$grid-gutter-s:                $grid-gutter !default;
$grid-gutter-m:                $grid-gutter !default;
$grid-gutter-l:                40px !default;
$grid-gutter-xl:               $grid-gutter-l !default;

$island-top:                   $grid-gutter;
$island-bottom:                $grid-gutter;
$island-top-half:              $grid-gutter/2;
$island-bottom-half:           $grid-gutter/2;
$island-top-double:            $grid-gutter-l;
$island-bottom-double:         $grid-gutter-l;
