// ----------------------------------------------
//                Main SCSS
// ----------------------------------------------

@import "utils/reset";
@import "base/colors";

@import "utils/vars";
@import "utils/grid";
@import "utils/helpers";

@import "base/typography";
@import "base/buttons";
@import "base/forms";

/**
* Optional Folders:
* ~/components
* ~/layout
* ~/pages
*
*/

//@import "components/videos";

//@import "layout/header";
//@import "layout/main";
//@import "layout/footer";

//@import "pages/front";
//@import "pages/basic";


// Styleguide page - Delete me!
.grid-boxes > div {
  min-height: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid $gray;
  padding: 20px;
}

.sg-title {
  color: #567567;
  text-decoration: underline;
}
