// ----------------------------------------------
//                Forms
// ----------------------------------------------

%text-input {
  display: block;
  width: 100%;
  padding: em(12px);
  font-size: $font-size-base;
  border: 1px solid #999;
  margin-bottom: 1em;
}

fieldset {
  margin: em($grid-gutter-m) 0;
  padding: em($grid-gutter-m);
}

label {
  margin: 0 em($grid-gutter-m) em($grid-gutter-m) 0;
  display: inline-block;
}

input:focus, textarea:focus, select:focus {
  outline: 1px solid $scolor;
  outline-offset: -1px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
textarea {
  @extend %text-input;
}

input[type="search"] {
  @extend %text-input;
}

input[type="submit"] {
  @extend %buttons;
  @include button($pcolor);
}
