// ----------------------------------------------
//                Colors
// ----------------------------------------------

//-- Theme colors
$pcolor:                                        #BD1823; // primary
$scolor:                                        #585856; // secondary
$tcolor:                                        #9D9C9B; // tertiary
$quatcolor:                                     #F6F6F6; // quaternary
$quincolor:                                     #fff; // quinary
$sencolor:                                      #000; // senary
$sepcolor:                                      #000; // septenary
$octcolor:                                      #000; // octonary
$noncolor:                                      #000; // nonary
$dencolor:                                      #000; // denary

//-- Grayscale colors
$white:                                         #ffffff;
$dark-gray:                                     #5F5F5F;
$gray:                                          #979797;
$light-gray:                                    #D8D8D8;
$dark:                                          #000000;

//-- Backgrounds Colors | .bg-pcolor
.bg {
  // Theme Colors
  &-pcolor {
    background-color: $pcolor !important;
  }
  &-scolor {
    background-color: $scolor !important;
  }
  &-tcolor {
    background-color: $tcolor !important;
  }
  &-quatcolor {
    background-color: $quatcolor !important;
  }
  &-quincolor {
    background-color: $quincolor !important;
  }
  &-sencolor {
    background-color: $sencolor !important;
  }
  &-sepcolor {
    background-color: $sepcolor !important;
  }
  &-octcolor {
    background-color: $octcolor !important;
  }
  &-noncolor {
    background-color: $noncolor !important;
  }
  &-dencolor {
    background-color: $dencolor !important;
  }
  // Greyscale
  &-dark {
    background-color: $dark !important;
  }
  &-dark-gray {
    background-color: $dark-gray !important;
  }
  &-gray {
    background-color: $gray !important;
  }
  &-light-gray {
    background-color: $light-gray !important;
  }
  &-white {
    background-color: $white !important;
  }
}

//-- Text Colors | .text-pcolor
.text {
  // Theme colors
  &-pcolor {
    color: $pcolor !important;
  }
  &-scolor {
    color: $scolor !important;
  }
  &-tcolor {
    color: $tcolor !important;
  }
  &-quatcolor {
    color: $quatcolor !important;
  }
  &-quincolor {
    color: $quincolor !important;
  }
  &-sencolor {
    color: $sencolor !important;
  }
  &-sepcolor {
    color: $sepcolor !important;
  }
  &-octcolor {
    color: $octcolor !important;
  }
  &-noncolor {
    color: $noncolor !important;
  }
  &-dencolor {
    color: $dencolor !important;
  }
  // Grayscale
  &-dark {
    color: $dark !important;
  }
  &-dark-gray {
    color: $dark-gray !important;
  }
  &-gray {
    color: $gray !important;
  }
  &-light-gray {
    color: $light-gray !important;
  }
  &-white {
    color: $white !important;
  }
}
