// ----------------------------------------------
//                Typography
// ----------------------------------------------

//--  Headings
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-headings;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1em;

  a {
    color: inherit;
  }
}

h1, .h1 {
  font-size: $font-size-h1;
}

h2, .h2 {
  font-size: $font-size-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
}

//-- Body
body, input {
  @include font-smoothing();
  font-family: $font-family-base;
  font-size: $font-size-base;

  @include breakpoint(l) {
    font-size: $font-size-base-l;
  }
}

//-- Links
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

// -- Text
p {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0
  }
}

blockquote {
  margin: 2em 0;
  padding-left: 3em;
}

hr {
  border-color: $tcolor;
}

.small, small {
  font-weight: normal;
}
