/**
 * @file
 * Typography.
 */

// ----- Base ----- //
body {
  @include font-smoothing();
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $body-text;
  line-height: 1.5;

  @include breakpoint(l) {
    font-size: $font-size-base-l;
  }
}

// -----  Headings ----- //
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0.5em;
  margin-bottom: $island;
  font-weight: 900;

  a {
    color: inherit;
  }
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1em;
}

h2, .h2 {
  font-size: 2em;
  line-height: 1.125;
}

h3, .h3 {
  font-size: 1.5em;
  line-height: 1.25;
}

h4, .h4 {
  font-size: 1.25em;
  line-height: 1.2;
}

h5, .h5,
h6, .h6 {
  font-size: 1em;
}

// ----- Links ----- //
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;

  &:hover {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

// ----- Text ----- //
p {
  margin-top: 0;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0
  }
}

blockquote {
  font-size: 1.75em;
  line-height: 1.28;
}
