// ----------------------------------------------
//                Helpers
// ----------------------------------------------

// Island Paddings
.island {
  padding-top: em($grid-gutter-m);
  padding-bottom: em($grid-gutter-m);
}

.island-top {
  padding-top: em($grid-gutter-m);
}

.island-top-half {
  padding-top: em($grid-gutter);
}

.island-top-double {
  padding-top: em($grid-gutter-l);
}

.island-bottom {
  padding-bottom: em($grid-gutter-m);
}

.island-bottom-half {
  padding-bottom: em($grid-gutter);
}

.island-bottom-double {
  padding-bottom: em($grid-gutter-l);
}

.island-half {
  padding-top: em($grid-gutter);
  padding-bottom: em($grid-gutter);
}

.island-double {
  padding-top: em($grid-gutter-l);
  padding-bottom: em($grid-gutter-l);
}

.island-xl {
  @extend .island;
}

.island-bottom-xl {
  @extend .island-bottom;
}

.island-top-xl {
  @extend .island-top;
}

@include breakpoint(s) {
  .island-xl {
    padding-top: em($grid-gutter-xl);
    padding-bottom: em($grid-gutter-xl);
  }

  .island-bottom-xl {
    padding-bottom: em($grid-gutter-xl);
  }

  .island-top-xl {
    padding-top: em($grid-gutter-xl);
  }
}

// Island Margins
.island-margin {
  margin-top: em($grid-gutter-m);
  margin-bottom: em($grid-gutter-m);
}

.island-top-margin {
  margin-top: em($grid-gutter-m);
}

.island-top-margin-half {
  margin-top: em($grid-gutter);
}

.island-top-margin-double {
  margin-top: em($grid-gutter-l);
}

.island-half-margin {
  margin-top: em($grid-gutter);
  margin-bottom: em($grid-gutter);
}

.island-bottom-margin {
  margin-bottom: em($grid-gutter-m);
}

.island-bottom-margin-half {
  margin-bottom: em($grid-gutter);
}

.island-bottom-margin-double {
  margin-bottom: em($grid-gutter-l);
}

.island-double-margin {
  margin-top: em($grid-gutter-l);
  margin-bottom: em($grid-gutter-l);
}

.island-xl-margin {
  @extend .island-margin;
}

.island-bottom-xl-margin {
  @extend .island-bottom-margin;
}

.island-top-xl-margin {
  @extend .island-top-margin;
}

@include breakpoint(s) {
  .island-xl-margin {
    margin-top: em($grid-gutter-xl);
    margin-bottom: em($grid-gutter-xl);
  }

  .island-bottom-xl-margin {
    margin-bottom: em($grid-gutter-xl);
  }

  .island-top-xl-margin {
    margin-top: em($grid-gutter-xl);
  }
}

// Text align
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.full-width {
  width: 100%;
}

.clear {
  clear: both;
}
.clear-right {
  clear: right;
}
.clear-left {
  clear: left;
}

.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

.overflow {
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Display Types
.none {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.block-center {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

// Tablet Helpers
@include breakpoint(m) {
  // Display Types
  .none-m {
    display: none;
  }
  .block-m {
    display: block;
  }
  .inline-block-m {
    display: inline-block;
  }
  .inline-m {
    display: inline;
  }
}

// Desktop Helpers
@include breakpoint(l) {
  // Display Types
  .none-l {
    display: none;
  }
  .block-l {
    display: block;
  }
  .inline-block-l {
    display: inline-block;
  }
  .inline-l {
    display: inline;
  }
}

// HD Helpers
@include breakpoint(xl) {
  // Display Types
  .none-xl {
    display: none;
  }
  .block-xl {
    display: block;
  }
  .inline-block-xl {
    display: inline-block;
  }
  .inline-xl {
    display: inline;
  }
}

// Positions
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}

img {
  max-width: 100%;
  height: auto !important;
  display: block;
}
